
@{
    ViewData["Title"] = "Index";
}

<h1>Администрирование</h1>

<div class="row">
    <h1><a href="~/Car/All"> Автомобили </a></h1>
</div>
<div class="row">
    <h1><a href="~/Brand/All"> Марки </a></h1>
</div>
<div class="row">
    <h1><a href="~/Model/All"> Модели </a></h1>
</div>
